body {
    background-color: #FFFFFF;
    color: #111111;
    margin: 15px auto;
    padding: 0 10px;
}

code {
    white-space: nowrap;
}

tt {
    white-space: pre;
}

.cmdbox {
    background: #F5F5F5;
    border: 1px solid #AAAAAA;
    overflow: auto;
    padding: 10px;
}
