body {
    background-color: #faf9f5;
	line-height: 1.4em;

    margin: 15px auto;
    padding: 0 10px;
}

code {
    white-space: nowrap;
}

div#sitewrapper {
	padding: 0 5px;
	margin: 0 1em;
	width: 680px;
}

.cmdbox {
    background: #F5F5F5;
    border: 1px solid #AAAAAA;
    overflow: auto;
    padding: 10px;
}

@media only screen and (max-width: 780px) {
    html, body, h1, h2, h3, h4, h5, input, textarea, header select {
        font-size: 10.5pt;
    }

    div#sitewrapper {
        width: auto;
        padding: 0;
    }
}

