html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: sans-serif;
	font-size: 11pt;

	background-color: #faf9f5;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

pre, code, blockquote.code {
	font-family: monospace;
	line-height: 1.3em;
}
h1, h2 {
	font-size: 13pt;
	font-weight: bold;
}
h1 code, h2 code {
	font-size: 12pt;
}
h3 {
	font-size: 11.5pt;
	margin-bottom: 0.25em;
}
h3 ~ p {
	margin-top: 0;
}
center ~ p {
	margin-top: 0.75em;
}

div#sitewrapper {
	padding: 0 5px;
	margin: 0 1em;
	width: 680px;
}

a {
	color: #4472c1;
}

a:visited {
	color: #6f64b4;
}

span.key {
	background-color: #444;
	border-radius: 6px;
	border: 1px solid #333;
	box-shadow: 2px 2px 0px #222;
	color: white;
	display: inline-block;
	font-size: 9pt;
	margin-right: 0.2em;
	min-width: 1em;
	padding: 0.175em 0.4em;
	text-align: center;
	z-index: 2;
}
span.key.fn {
	color: #00b4fa;
}
span.key.gray {
	background-color: #ccc;
	border-color: #bbb;
	box-shadow: 2px 2px 0px #aaa;
	color: black;
}
span.key.power {
	background-color: #40a0cd;
	box-shadow: 2px 2px 0px #0089bd;
	border-color: #42bafa;
	border-radius: 30px;
}
span.key.white {
	background-color: #fafafa;
	border-color: #ddd;
	box-shadow: 2px 2px 0px #888888;
	color: #222;
}

strike, del {
	text-decoration-line: line-through;
	text-decoration-color: #555555bb;
	text-decoration-thickness: 1px;
	text-decoration-style: wavy;
}

.nowrap {
	white-space: nowrap;
}

hr {
	border: 0px;
	height: 1px;
	border-top: solid 1px #bbb;
	margin-top: 2em;
	margin-bottom: 2em;
	display: block;
	width: 50%;
}

div.quote, div.quotefx, div.codeblock, div.codeblockout, pre {
	background-color: #f8f5ee;
}

div.quote, div.quotefx, div.codeblock, div.codeblockout, pre {
	border: 1px solid #e0deca;
	padding: 1em;
	text-align: left;
	overflow: auto;
}
blockquote {
	border-left: 4px solid #ccc;
	padding-left: 1em;
}
blockquote.code {
	font-size: 0.9em;
}
code,
div.quote code,
div.quotefx code,
div.codeblock code,
div.codeblockout code,
pre code {
	padding: 1px 3px;
	font-size: 0.9em;
}
pre > code {
	padding: 0;
}

nav {
	font-size: 0.95em;
	margin-top: 10px;
	padding: 14px 0 0 0;
}

nav .bar {
	color: #ccc;
	vertical-align: bottom;
	padding-left: 1px;
	padding-right: 1px;
}

nav .rss_icon {
	padding-left: 1px;
}

nav .rss_icon svg {
	fill: #e3ba96;
}

nav svg.live #live_off {
	fill: #eee;
	stroke: #ccc;
}
nav svg.live #live_on {
	fill: #80d2ab;
	stroke: #65c195;
}

nav h2 {
	color: #aaa;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0 2px 0;
}
nav a {
	font-weight: bold;
	text-decoration: none;
}
nav a,
nav a:visited {
	color: #aaa;
}
nav h2 a,
nav h2 a:visited {
	color: #83988e;
}

div.chaser {
	font-style: italic;
	margin-top: 2em;
	text-align: center;
}

footer {
	color: #888;
	font-size: 0.9em;
	margin-bottom: 2em;
	margin-top: 2em;
	text-align: center;
}
footer a,
footer a:visited {
	color: gray;
}

.footnotes {
	font-size: 9.5pt;
}

/* actual item text */
main {
	color: #555;
}

main article p:first-of-type {
	margin-top: 0.5em;
}

main article img {
	-ms-interpolation-mode: bicubic;
}

main article .mac_screenshot {
	background-color: rgb(191, 187, 152); /* pantone 453 */
	border-radius: 14px;
	padding: 20px 30px;
	margin-left: auto;
	margin-right: auto;
	width: 554px;
}

main article .mac_screenshot .screen {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABFQAAAM0CAQAAAA/p74PAAAX4UlEQVR42u3dLXsjZ5aA4VMOCXOZLVM1GzYOC4sbLkrChiVhw5Jhw3I1G5ZttDBpNmwStovi/II4bFm/+gUtsV3kBf6QSp8l\
Wyqdku+7r3RbJfkjx+S53rdUVQVwXM3Gx3XUC88vH4k4X3Fs9SvXfdfVNn2F/ZnEpNPryo5fYRLTDq8sG1/R9WcDDqQyAuicEc2WoxGjrZ/ZPRLIqKyNmPlnxiuPz79+9rEUAqHCCzNbBXj4aPnIfFI0K1YPpATHzaBVeTNeOrL8etmDUIGeMuPh38W\
MmG1yNGsjBChrEuZhQ2z2uJ09UgehwguKjWZleoxWhobMgEwegmUxdMatrCkiB6HCcc3HRDs/zluPmtbrgZesnS13/z6s5KwKnGJkCBUWc6MdHaO55+fTBKAvD0Ezv5IznnumrHgVQoXBhEcjO4AXp6xJm8XjwkaocND0mN9kaa+HANDV/GrM3d+yRq\
iwJT6WV0MAyJM1ZS5fpq2QmX8eoZLSLC9mH40eP5pPEABOWTtf7pJmcv9H0giVAwfIXXCMWulh4wWA3c2SZbb1JGiEykKC1Pd/7j46f4yPZi5SAOC4QTMfNQ+bTuUl5szphEo7QpqYrYLYhAHg9LSzZbwUOCcSM8MIlbq17iFCAKCLSUweTwheXpkZR\
MpkCZW7AHlIj4cNmVmKAACHS5mH04DnH6cImeOEShOX0cQommiith4CAEmVKDGJEuMoUeLmtEPlMq7iz3EZl37vADBIN1Hit7iJ61MKlau4jM/j0hYOAJyISdzEL3F9+DWWw4bKVXweXwsUADhRJa7j3SHXVw4VKhIFAF5Srrw9zOrKIULl6/gqrvzW\
AOBFuY538VPuUKnj2/jOOgoAvFAl3uw3VvYXKiIFANhzrOwrVL6IH1wPBQDYb6zsI1Sa+NE5KQBAy3V88/yr23707B/j2/hn/MlvAwBoaeK7iPjteV+keuaPYC0FAFjvJr58zrrKc1ZUruJXaykAwAb/Fl/EOP6n/1D5Pn6Kj80fANiojr/Ek7eAnho\
qP8TfTR4A6OQq6vjvvkKljv+Mv5o5ANDZp9HEL7t/2u4n09bxa1yaNwCwo5t4HZPdPuVs52/yo0wBAJ7gMn7c9VN23fr5Ib42ZwDgSf606wbQbqHyvVNoAYBnuIyd3gG0S6h8G/8wXwDgWa6ixB9dX9z9ZNomfndvZADg2SbxSder1XYPlffujgwA7E\
WJT7q9/6fr1s/38YWpAgB7UcfH3S4A121F5TJ+N1MAYI9ex/W+QsW2DwCwXyVebX9Rl62fb+MvpgkA7FUd1fY1le0rKk38aj0FANi7Sbzadkrt9hWVH+LKJAGAvfs4/m/bmsq2FZUm3psjAHAQW9dUtq2o/OAWhADAgWxdU9m8ouL8FADgkLasqZxt/\
OQrmQIAHFAd3216evOKiuunAACHdROfrH9y04qK9RQA4NAuN72/eFOofGV2AMDBbbif4KatHxs/AMDhTeJi3VPrV1Rs/AAAfajXb/6sDxUbPwBAP9Zu/qzf+rHxAwD0Y+2dlNetqDQyBQDoSROj3ULlyswAgN683i1UPjMxAKA3n+0WKm5FCAD052r1\
4dUn09bxwcQAgB5drLo54eoVFespAEC/mlUHhQoAkMFl91BpTAsAyBoqfzYtAKBXTfdQqU0LAOjVn7uHSmNaAECv6q6hUltRAQB6D5W6W6g0ZgUA9O68W6hYTwEA+vdKqAAAWTXdQqUxKQCgdx3PUbGiAgCkDZXGpACA3o26hcq5SQEAGdj6AQByaIQ\
KACBUAACer1px7NZYAIAMXbK8omI9BQA4jlqoAABZnW8PlcaUAICjuNgeKgAAx2HrBwBIqxEqAMBgOEcFAMii2R4qAABJWFEBALIYbQ8VAIAkzra3DABAL5rtoQIAkIRzVACALJrtoQIAkMTS7ZTj1lAAgBxlYkUFAEhrMVQaIwEAjma0OVQAANKwog\
IA5HGxOVQAAI6n3hwqtQkBAEfTCBUAYCCECgCQh60fAGCooQIAkIa3JwMAebjgGwAwFGebOwYAoEcu+AYApHW+OVS86wcAOB5vTwYAhhoqAABpVAuPb40EAMjSJlZUAIC02qHiDBUA4LhqoQIAZHUuVACAQRAqAEAmr9aHCgBAIlZUAIBMGqECAAyCr\
R8AYCCh0hgIAHBUzfpQAQBIxDkqAEAmrkwLAKS14cq0AACJtENlZCAAwFFdrA8VAIDjsvUDAKS14WTaxnQAgKyhAgCQiLcnAwCZtGqkaj11azoAwJHN1YmtHwAgrflQsfEDABxfLVQAgKzOV4cKAEAq86HSGAcAcHQXq0MFAOD4aqECAAyArR8AIJdm\
dagAAKQiVACAQYRKYxwAwNE1q0MFACAVoQIADCJUGuMAAI5utDpUAABSmQ+Vc+MAALKGirsnAwDH16wOFQCAVIQKAJDLmpsSNiYDAGQNFQCAVIQKAJBWNffxrXEAAJn6xIoKAJCWUAEABhAqjWEAACmMlkMFACAZoQIADCBUGsMAAFK4WA4VAIAcaqE\
CAKQnVACAbFasqDSmAgBkDRUAgGSECgAwgFBpDAMASKFZDhUAgGSECgAwgFCpDQMASGEkVACA9Gz9AAADCJVzwwAAsoaKrR8AIIdmOVQAAJIRKgDAAELF1g8AkEMjVACA9Gz9AAADCBUrKgBADo9VUj0eujUVACCJ+0Kx9QMApCVUAID0oeIMFQAgj5\
FQAQCSs/UDAKQPFSsqAIBQAQDY6lU7VAAA0hEqAIBQAQDorG6HSmMiAEDWUAEASEeoAADpQ8XbkwGAPGqhAgAMJFQAANIRKgBA+lCx9QMA5DESKgBAcrZ+AAChAgDw1FAZGQUAkMZFO1QAAPI4FyoAQHJCBQBIHyrengwA5NEIFQAgOVs/AIBQAQB4a\
qjY+gEA8rgvk+r+4a2JAACJVBG2fgCAxIQKAJA8VJyhAgDkUgsVACCr81moAAAkJFQAgOShYusHABAqAACdvJqFCgBAQkIFABAqAABPCxXnqAAAuTRCBQBIzdYPACBUAACeFiq2fgCAXNyUEAAYQqgAACQkVAAAoQIA8LRQcY4KAJDLSKgAAKnZ+gEA\
hAoAgFABAE4sVEYGAQCk0sxCBQAgIaECAAgVAAChAgCcgrmbEjamAQBkDRUAgISECgAgVAAAnhYqbkoIACRURUTErUEAAPkqxdYPAJCWUAEAhAoAgFABAE4qVBpjAADSGVlRAQASEyoAgFABABAqAMBJhUpjDABAOhdWVACArGqhAgAkJlQAAKECACB\
UAIDTUHvXDwCQPFQAAFISKgCAUAEAECoAwEmFSm0MAEA6tVABAJKHCgBASkIFABAqAABCBQA4qVBxMi0AkM9IqAAAidn6AQCECgCAUAEAhAoAQB+hMjIGACCdCysqAEBW50IFAEhMqAAAQgUAQKgAAEIFAOCg6rtQaUwCAMgaKgAAKQkVAECoAAAIFQ\
BAqAAA9BEqtTEAAOnUEVVE3JoEAJBQZesHAEhLqAAAQgUAQKgAAEIFAECoAAAvVX3m3skAQFLnVlQAgLSECgAgVAAAhAoAIFQAAIQKAPCCQ6UxBAAgpQsrKgBAVrVQAQDSEioAgFABABAqAIBQAQAQKgCAUAEASKZ2wTcAIHGoAAAkJVQAAKECACBUA\
AChAgAgVAAAoQIAkC9UakMAAFKqhQoAkDhUAACSEioAgFABABAqAIBQAQAQKgCAUAEAECoAAJ1DxQXfAICcXJkWAEjr3NYPAJCWUAEAhAoAgFABAIQKAIBQAQCECgCAUAEAECoAgFABADhYqIwMAQBIqbGiAgCkJVQAAKECACBUAAChAgAgVAAAoQIA\
IFQAAIQKACBUAACECgAgVAAAhAoAwLZQaQwBAEjJ3ZMBgLyECgAgVAAAhAoAIFQAAIQKACBUAACECgCAUAEAhAoAgFABAIQKAIBQAQAQKgCAUAEAECoAgFABABAqAABCBQAYlipuDQEAyMmKCgAgVAAAhAoAIFQAAIQKACBUAACECgCAUAEAhAoAgFA\
BAIQKAIBQAQAQKgCAUAEAECoAgFABABAqAABCBQAQKgAAQgUAECoAAEIFAECoAABCBQBAqAAAQgUAQKgAAAgVAECoAAAIFQBAqAAACBUAQKgAAAgVAAChAgAIFQAAoQIACBUAAKECACBUAAChAgAgVAAAoQIAIFQAAIQKACBUAACECgAgVAAAhAoAgF\
ABAIQKAIBQAQBOVBEqAEBaZ1EMAQDIGioAAEIFAECoAABCBQBAqAAAQgUAQKgAAAgVAECoAAAIFQBAqAAACBUAAKECAAgVAAChAgAIFQAAoQIAIFQAgAEpQgUASOssiiEAAFlDBQBAqAAACBUAQKgAAAgVAECoAAAIFQAAoQIACBUAAKECAAgVAAChA\
gCwwVSoAABZfTiLsSkAADlZUQEAhAoAgFABAIQKAIBQAQCECgCAUAEAECoAgFABADgMl9AHANKanMXEFACAnIQKAJA4VAAAhAoAgFABAIQKAIBQAQCECgCAUAEA6GIiVACAxKHigm8AQFJCBQBIHCoAAEIFAECoAABCBQBAqAAAQgUAIBUXfAMAMoeK\
66gAAEkJFQAgcagAAAgVAAChAgAIFQAAoQIACBUAgFTee3syAJCWUAEAEocKAIBQAQAQKgCAUAEAECoAwMs0FSoAQFYTb08GANKqIuLWGACAjJ1i6wcASEuoAABCBQBAqAAAQgUA4KDKXah4gzIAkJJQAQBShwoAgFABABAqAIBQAQA4mIlQAQCSh4p\
3/QAAKQkVACB1qAAACBUAAKECAAgVAICDKU6mBQASO4uIqTEAAFlDBQBAqAAACBUAQKgAABzMWKgAAImdRUQxBgAga6gAAAgVAAChAgAIFQCAgynu9QMAJCZUAIDUoQIAIFQAAIQKADB8E6ECACQPFSfTAgApCRUAIHWoAAAIFQAAoQIADJ+TaQGAtD\
4IFQAgMVs/AIBQAQAQKgDAaZgKFQAgq0lEFRERt2YBACRTWVEBABITKgCAUAEAECoAwCkos1AppgEA5GNFBQAQKgAAQgUAOAUToQIADCBUJqYBAOQjVACA5KECACBUAACECgAwbGUWKmPTAADysaICAAgVAAChAgCcgqlQAQCymrsybTENACAfKyoAg\
FABABAqAMApKLNQcVNCACAhoQIAJA8VAAChAgDQyUSoAAADCJViGgBAPlZUAAChAgAgVACAU/B+FirFNACAfKyoAABCBQBAqAAAp2A6CxX3+gEAcplERFT3D27NAwBIpIqw9QMAJCZUAIB8Ju1QcZYKACBUAAC6svUDAAgVAIDOJkIFABhIqBQTAQCy\
saICAAgVAICnhoq3JwMAeZR2qExNBADIxtYPACBUAAA6mwoVACAr11EBALKzogIACBUAgM4Wtn5cRwUAECoAAF3Z+gEAhAoAQGelHSq2fgCAdIQKAJA+VAAAhAoAwFYuoQ8ApPWhHSoAAOkIFQBAqAAAdDa++6d6PHBrJgBAEveFYkUFAEhLqAAA2Uy\
WQ8W1aQEAoQIA0I2tHwBAqAAAdFSWQ6WYCgCQixUVAECoAAB0NF0OlbGpAAApfFgOFQCAZIQKACBUAAA6Gi+HSjEVACAXKyoAgFABAOhoxU0Ji6kAAFlDBQAgGaECAGSzYkVlYioAgFABAOjE1g8AMIBQsaICAOTwXqgAAOnZ+gEAhAoAQEePNyWs5g\
7emgsAkMBjn1hRAQDSEioAQC6T1aFSTAYAyBoqAACpCBUAIJeyOlRc8g0ASEWoAACDCBUAgOObrg6VsckAAEf3YXWoAACkIlQAgFzWbP0UkwEAjs4F3wCAIRAqAEAu7vUDAAwtVAAAUhEqAEAuZXWoFJMBADKxogIADCJU3JQQADi+iVABALJyrx8AY\
AiquY/r+YIBADh2nVStJ27NBgDIEyq2fgCAtNqh4nRaAOC4ilABAAbB1g8AkMlkfahYUQEAhAoAwHZCBQDIZLo+VKamAwAc1Yf1oQIAkIitHwAgk7FQAQAGwdYPADCQUCkGAgAcVVkfKgAAiQgVACCTsj5UiukAAHlYUQEABhIqxUAAgKN6vz5UAAAS\
qVqP6vb19QEAjtkm1cKTt+YDAGQJFVs/AEBai6FSjAQAOJqyOVQAANJYDBX3TwYAjqcIFQBgIIQKAJDHdHOoTE0IADiaD5tDBQAgDW9PBgDyGG8OFQCANJxMCwDkUYQKADAQtn4AgDzK5lApJgQAZGHrBwAQKgAAW73fHCoAAMezcI38aukFt2YEABz\
JQplYUQEA0loOlWIoAMBRlO2hAgBwHJPtoVJMCQDIGioAAEksh8rYUACAoyjbQwUAIAnnqAAAWYy3hwoAQBJWVACALMr2UAEAOA7XUQEAhhwqE1MCAIQKAMC8D4sHqqWX1MsvAgDoQbU9VCJuzQkAyBAqq971U8wJAOjdigLx9mQAIIdJt1ApJgUAZA\
0V908GAPo37RYqAAD9+9AtVIpJAQC9G3cLFZd8AwD61/EcFaECAPSvdAuVYlIAQO+8PRkAGHqo2PoBAPpXuoaKVAEA+jXpuqJiTQUA6FtZdXB1qNyYFgDQq0n3UHERfQCgX390DxUrKgBAv4pQAQCyWlkf1cqX1qtuCwQAcDAXu7zrp5gXANCbm11Op\
o34zcQAgB5DJXYJlWsTAwB685tQAQCyut4tVIqzVACAnqztjrO1n/KLqQEAvbhe98T6UPnZ1ACAXrxb90S14ZM+RG1yAMCBlXi17qmzp9QNAMDeXK9/alOo2PwBAA5vw9JItfETf49L0wMADmjDxs/mFRXv/AEADu3Npic3r6jU8d4JtQDAwZR4vena\
bZtXVCbx1gQBgIO53nyJ2WrLp1tTAQAO59XmUDnb8unWVACAQ/lp2y17qq1fwpoKAHAIW85Pidi+omJNBQA4jLfbb4FcdfpC76MxTQBgjzZeP+XBWacv9Y1pAgB79WWXF33UsXku4lMTBQD25E38s8vLqo5fro7fbf8AAHvRadsnouvWT8QkXsfEXAG\
AZ5vE664vPev8RUv8zWQBgGd7s/3dPg8+2uHL3kQVV6YLADwrU/7R/cUf7fSlr+NVXJowAPBEb+Pvu7y82vkb/Cu+MGUA4Al+7vam5OeESh2/WlUBAHZ2s/tbc852/iaT+CTemTUAsJN3T3kH8UdP+lY/uwAcALCDt/HX+N/dP+2jJ367//IOIACgoz\
e7nUL7/FCJuI4/4tOozR4A2GAS/x4/PfWTq2d96yb+5cRaAGCt6/im++Xdlp0965uX+CTe+B0AACtM4m/x+jmZ8twVlTtN/Oh8FQCg5ZlrKXfO9vCDlHi9jx8FADgRJb587lrKnWqPP9TX8X00fjcA8KJN4m38x+5XTDl8qIgVABApe4uUQ4TKXax85\
ZwVAHhhruNd/LzPSDlUqEREXMZ38Zm1FQB4ASbxLn6O60N86eqgP/hVfC1XAECi5AyVO5dxFZ/HpavYAsDJBMpN/BI3h0yU/kLlwVVcxmfRuJYtAAzUTdzEH3EdN319w+oo/5uX0UQTTYyijsbWEAAkVWISJcZRosTNMa6ZViUZRBN11I//1nHeegwA\
HMLk/k+JiOnjo7vHJcMPWA1kkLOQufuvjvP7lRgpAwCrlbkUiRjfHylzz6RXncwvY5Yw9X26jOaOhA0mAF5AhMyOlNP436xe1C+1nS13j86XAgcAjp0gs3WP6WN6nFyECJXn5kx7dWaWOIIGgN3NImO2CjI7VuYiBaFyoKCZnQZswwngpSit4Jhtwwg\
QoTLwpInHE4Kt0gDki4/5BJnOhcjs6CBORxUq7M/8Osz8x6NW6sgagN3Np8VdcIgPocLRsmbVcYDTC4/2G23Hj0fax4txCRWGEjYPqzHN3MfLaWPNBsiVHfOrHdY8hArca+b+bj+6O8vmIWjm8wd42Urr37u/p62VjXZuFCNDqNCvxWxp586o9Zr2Sg\
6Qw0NELMbEeMOz1jkQKrzAyFlcs7lbyVkOHas5sJwZy6ExXUiMxcgQGwgV6Cl15tOlWXputHRk1euhT2VFaMyOjddGyPIRECrw4rJnPmlW580sfxaPtze2ZNAppMTio/mPx1tfU9Z+TUCoQNIUWn60KmtWnc3zsCG2/ZW7xVI/Zw51XQUoO36F6Yqjy\
69cPFI6f1egB/8PoRZwL+TsbjAAAAAASUVORK5CYII=') no-repeat;
	background-size: 554px 410px;
	height: 342px;
	margin-left: auto;
	margin-right: auto;
	padding: 34px 21px;
	width: 512px;
}

main article #screen_chaser {
	color: gray;
	font-size: 8pt;
	margin-bottom: 1em;
	padding-right: 30px;
	text-align: right;
}
main article #zoomer {
	color: gray;
	cursor: zoom-in;
	text-decoration: none;
}
main article #zoomer::after {
	content: "Zoom Screen";
}
main article #zoomer.twox {
	cursor: zoom-out;
}
main article #zoomer.twox::after {
	content: "Zoom Out";
}

main article .mac_screenshot.twox {
	margin-left: -250px;
	width: 1108px;
}
main article .mac_screenshot.twox .screen {
	background-size: 1110px 760px;
	height: 684px;
	width: 1224px;
}

aside {
	display: block;
	float: left;
	margin-left: -160px;
}
div.date_jutout_inside {
	font-style: italic;
	font-size: 10pt;
	text-align: right;
	color: #999797;
	width: 130px;
}

summary {
	margin-bottom: 3em;
}
summary.note {
	margin-bottom: 2em;
}

details summary {
	cursor: pointer;
	margin-bottom: 0;
}

details summary h2 {
	margin: 0;
	display: inline;
}

article details.indented {
	margin-left: 1.5em;
}

article details.indented summary {
	margin-left: -1.5em;
}

article header {
	color: #333;
}

article h1,
article h2 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

article h2 {
	font-size: 13pt;
	margin-top: 1em;
	margin-bottom: 1em;
}

article h1,
article h2.snippet {
	margin-top: 1em;
	font-size: 13pt;
}

h1,
h1 a,
h1 a:visited,
article h2,
article h2 a,
article h2 a:visited {
	color: #3d3d3d;
	text-decoration: none;
}

article header h2 {
	margin-bottom: 0;
}
article header .byline {
	color: #999797;
	font-size: 10.5pt;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
	padding-top: 0.2em;
}
article header .byline a {
	color: #7b7979;
	text-decoration: none;
}

article sup {
	line-height: 0;
}

article figure {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 0.5em;
	text-align: center;
	max-width: 100%;
}

article figure.fright {
	float: right;
	padding-left: 2em;
	width: auto;
}
article figure.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

article img.circle {
	border-radius: 100% 100%;
}

article figure figcaption {
	font-size: 9.5pt;
	font-style: italic;
}

article table {
	border-spacing: 0;
	border-collapse: collapse;
	overflow: auto;
	word-break: normal;
	word-break: keep-all;
	margin-left: auto;
	margin-right: auto;
}
article table th {
	font-weight: bold;
	background-color: #f7f7f2;
}
article table th,
article table td {
	border: 1px solid #ddd;
	padding: 6px 13px;
}
article table tr {
	background-color: #fefefe;
	border-top: 1px solid #ccc;
}
article table tr:nth-child(2n) {
	background-color: #f9f9f9;
}

article table.full {
	width: 100%;
}

article table.noborder tr,
article table.noborder td {
	background-color: none !important;
	padding: 0;
	border: 0;
}
article table.center td {
	text-align: center;
}

article video {
	width: 100%;
}

article .mac_screenshot video {
	height: 344px;
	width: 512px;
}

article .mac_screenshot video.on {
	opacity: 1;
	transition: opacity 3s ease-in;
}
article .mac_screenshot video.off {
	opacity: 0;
}

article time {
	font-weight: bold;
}

article ul.usernames {
	list-style: none;
	padding-left: 1.1em;
}
article ul.usernames li {
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 1.7em;
}
@media only screen and (min-device-pixel-ratio: 1.5) {
	article ul.usernames li {
		background-size: 32px 32px;
	}
}

.page_nav {
	text-align: center;
	margin-top: 3em;
	color: #555;
}
.page_nav.top {
	margin-top: 1em;
	margin-bottom: 1em;
}
.page_nav .page {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 5px 10px;
	margin-left: 0.5em;
	text-align: center;
	border-radius: 8px;
}
.page_nav .page.cur_page {
	background-color: #f7f7f2;
	font-weight: bold;
	color: #555;
}
.page_nav .page.ellipses {
	border-color: transparent;
	margin-left: 0.2em;
	padding: 0;
}

.back_link {
	float: right;
}

.series_item_block {
	margin-bottom: 3em;
	clear: both;
	min-height: 100px;
}
.series_item_block img {
	width: 190px;
	height: auto;
}
.series_item_thumbnail {
	float: left;
}
.series_item_description {
	margin-left: 210px;
}
.series_item_description h2 {
	display: inline;
}
.series_item_description .byline {
	display: inline;
}

p.alert, div.alert {
	background-color: #fcf8e3;
	border: 2px solid #fbeed5;
	padding: 0.5em 1em;
}

form#searcher {
	margin-bottom: 1em;
}

.mobile-only {
	display: none;
}

/* responsive adjustments */

.toc_wrapper ol {
	margin-left: 2em;
	padding-left: 0;
	margin-top: 0;
}
.toc_wrapper .top_link {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
}

@media only screen and (min-width: 1000px) {
	article video {
		width: 980px;
	}
	article .mac_screenshot video {
		margin-left: 0;
		height: 344px;
		width: 512px;
	}
	article .mac_screenshot.twox video {
		margin-left: 20px;
		width: 1024px;
		height: 688px;
	}
}

@media only screen and (max-width: 900px) {
	aside {
		display: none;
	}
}

@media only screen and (max-width: 780px) {
	html, body, h1, h2, h3, h4, h5, input, textarea, header select {
		font-size: 10.5pt;
	}

	body {
		padding: 0;
	}

	blockquote {
		margin-left: 1em;
	}

	nav {
		margin-top: 0;
		margin-right: 0;
	}

	div#sitewrapper {
		width: auto;
		padding: 0;
	}
	main img {
		height: auto;
		max-width: 100%;
	}
	main img.wide, main img.header {
		width: calc(100% + 35px);
		margin-left: -20px;
		max-width: none;
	}

	iframe {
		max-width: 100%;
	}

	article video {
		height: auto;
		margin-left: -20px;
		width: calc(100% + 35px);
	}
	article .mac_screenshot video {
		margin-left: 0;
		height: auto;
		width: 100%;
	}

	article figure {
		width: 100%;
	}

	article figure a {
		display: block;
	}

	article figure.fright {
		float: none;
		padding-left: 0;
		width: 100%;
	}
	article figure.contact_avatar {
		margin-top: 1em;
	}

	main article .mac_screenshot {
		padding: 10px 20px;
		width: auto;
	}

	main article .mac_screenshot .screen {
		background-size: 100% 100%;
		height: auto;
		padding: 20px 12px;
		width: auto;
	}

	main article .mac_screenshot .screen img {
		height: 100%;
		width: 100%;
	}

	figure + figure {
		margin-top: 1em;
	}

	iframe.vimeo {
		margin-left: 0;
		width: 100%;
	}

	.series_item_description header {
		clear: both;
		padding-top: 1em;
	}

	.series_item_description {
		margin-left: 0;
		display: block;
    }

	.back_link {
		display: block;
		float: none;
	}

	.mobile-only {
		display: block;
	}

	.page_nav .page {
		padding: 4px 6px;
		margin-left: 0.2em;
	}
}


/* helpers */

div.flash-notice, div.flash-error, div.flash-info {
	border: 2px solid;
	margin: 5px 5px 10px 5px;
	padding: 5px 10px;
}

div.flash-notice li, div.flash-error li, div.flash-info li {
	margin-left: 15px;
}

div.flash-notice {
	background-color: #e8ffe7;
	border-color: green;
}

div.flash-error {
	background-color: #ffe7e7;
	border-color: red;
}

div.flash-info {
	background-color: #fffee4;
	border-color: #fffa77;
}

div.fieldWithErrors {
	display: inline;
}
div.fieldWithErrors input,
div.fieldWithErrors select,
div.fieldWithErrors textarea {
	padding: 2px;
	border: 2px solid red;
}


/* responsive */

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}

	a {
		color: #99b9f0
	}
	a:visited {
		color: #a39adc;
	}

    nav .bar {
        color: #666;
    }

    nav a,
    nav a:visited {
    	color: #777;
    }

	nav svg.live #live_off {
		fill: #333;
		stroke: #444;
	}
	nav svg.live #live_on {
		fill: #568c38;
		stroke: #4c7137;
	}

    main {
        color: #bbb;
    }

    div.date_jutout_inside {
    	color: #666;
    }

    h1,
    h1 a,
    h1 a:visited,
    article h2,
    article h2 a,
    article h2 a:visited {
    	color: #aaa;
    	text-decoration: none;
    }

    article header .byline {
	    color: #838282;
    }
    article header {
    	color: #666;
    }

    article header .byline a {
	    color: #9d9d9d;
    }

    div.quote, div.quotefx, div.codeblock, div.codeblockout, pre {
    	background-color: #1a1a1a;
		border-color: #444;
    }
    code,
    div.quote code,
    div.quotefx code,
    div.codeblock code,
    div.codeblockout code,
    pre code {
        background-color: transparent;
		word-break: break-word;
    }

    nav .rss_icon svg {
    	fill: rgb(147, 95, 0);
    }

	strike, del {
		text-decoration-color: #a5a5a5;
	}

    .page_nav .page {
        border-color: #444;
    }
    .page_nav .page.cur_page {
	    background-color: #222;
        color: #777;
    }

    footer {
	    color: #838383;
    }
    footer a {
        color: #555;
    }

	p.alert, div.alert {
		background-color: #caad16;
		border-color: #e8c92b;
		color: black;
	}

	article table th,
	article table td {
		border: 1px solid #555;
	}
	article table tr {
		background-color: #222;
	}
	article table tr:nth-child(2n) {
		background-color: #333;
	}
	article table th {
		background-color: #444;
	}
}


.notes_counters {
	margin-bottom: 1em;
}
.notes_counters a {
	color: #555;
	text-decoration: none;
}
.follow_button {
	background-color: #e6eae8;
	border-radius: 10px;
	border: 1px solid #cad3cf;
	cursor: pointer;
	float: right;
	position: absolute;
	right: 0.5em;
	max-width: 50%;
	margin-top: -3em;
	padding: 0.35em 0.75em 0.20em 0.75em;
}
.follow_button summary {
	text-align: right;
	font-weight: bold;
}
.follow_button input {
	display: block;
	font-size: 12pt;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 75%;
}
.follow_button > summary {
	list-style: none;
}

.follow_button > summary::marker,
.follow_button > summary::-webkit-details-marker {
	display: none;
}

h1.note a {
	display: inline-block;
	text-decoration: none;
	vertical-align: text-top;
	margin-right: 1em;
	margin-top: -3px;
}

article.note {
	border: 1px solid #e0e0e0;
	margin-bottom: 1em;
	padding: 1em;
	padding-left: 80px;
	border-radius: 20px;
	/* cursor: pointer; */
}

.note_forwarded {
	font-size: 9pt;
	margin-left: -66px;
	margin-bottom: 0.5em;
}

.note img.avatar {
	float: left;
	margin-left: -66px;
	border-radius: 100%;
}
.note img.avatar.local {
	border-radius: 100% 100%;
}

.note .date,
.note .username {
	color: gray;
}

.note .realname {
	font-weight: bold;
}
.note .realname a {
	color: #555;
	text-decoration: none;
}
.note .realname a:hover {
	text-decoration: underline;
}

.note .username a {
	color: gray;
	text-decoration: none;
}

.note .dash {
	color: gray;
}

.note .date a {
	color: gray;
	text-decoration: none;
}
.note .date a:hover {
	text-decoration: underline;
}
.note .note_text {
	margin-top: 0.3em;
	word-break: break-word;
}

.note .note_text p {
	margin-bottom: 0;
}

.note .full_date {
	display: none;
}

.note .note_attachments {
	margin-top: 1em;
}
.note .note_attachment {
	display: inline;
}
.note .note_attachment img {
	object-fit: cover;
	/* for 4 or more */
	width: 141px;
	height: 141px;
}
.note .note_attachments_count_1 .note_attachment img {
	object-fit: contain;
	object-position: 0 0;
	max-width: 100%;
	max-height: 500px;
	width: 100%;
	height: 100%;
}
.note .note_attachments_count_2 .note_attachment img {
	width: 285px;
	height: 285px;
}
.note .note_attachments_count_3 .note_attachment img {
	width: 190px;
	height: 190px;
}
.note .note_attachment video {
	margin-left: 0;
	max-width: 100%;
	max-height: 500px;
	object-fit: contain;
	width: 100%;
}

.note_thread_indicator {
	height: 2em;
	margin-top: -1em;
	border-left: 4px solid lightgray;
	margin-left: 38px;
}

.note_vanity {
    margin-top: 1em;
}
.note_vanity_replies,
.note_vanity_likes,
.note_vanity_forwards {
    display: table-cell;
    width: 100px;
}
.note_vanity,
.note_vanity a,
.note_vanity svg,
.note_forwarded a,
.note_forwarded svg {
    color: #bbb;
    fill: #bbb;
    text-decoration: none;
}
.note_vanity svg,
.note_forwarded svg {
    display: table-cell;
    height: 1.2em;
    width: 1.2em;
    padding-right: 0.2em;
    vertical-align: top;
}
.note_vanity_likes svg {
    margin-top: -1px;
}

.note.dedicated .dash {
	display: none;
}
.note.dedicated .date {
	display: none;
}
.note.dedicated .username {
	display: block;
}
.note.dedicated .note_text {
	clear: both;
	display: block;
	font-size: 14pt;
	line-height: 1.3em;
	margin-left: -65px;
	margin-top: 1em;
}
.note.dedicated .full_date {
	display: block;
	margin-top: 1em;
	font-size: 0.75em;
}
.note.dedicated .full_date a {
	color: gray;
	text-decoration: none;
}
.note.dedicated .dash {
    display: none;
}
.note.dedicated .note_vanity {
    font-size: 10.5pt;
}
.note.dedicated .note_vanity a {
    color: gray;
    margin-right: 1em;
}

.note_contact {
	clear: both;
	margin-bottom: 1.5em;
}
.note_contact img.avatar {
	float: left;
	padding-right: 1em;
}

.note_contact .realname {
    font-weight: bold;
    display: block;
}
.note_contact .realname a,
.note_contact .username a {
    color: #555;
    text-decoration: none;
}
.note_contact .realname a:hover {
    text-decoration: underline;
}



@media (prefers-color-scheme: dark) {
	.follow_button {
		background-color: #555;
		border-color: #333;
	}
	.notes_counters a {
		color: #888;
	}
	article.note {
		border-color: #333;
	}
	.note .realname a {
		color: #888;
	}
	.note_vanity,
	.note_vanity a,
	.note_vanity svg,
	.note_forwarded a,
	.note_forwarded svg {
		fill: #555;
		color: #555;
	}
}
